.box {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #ff7f50;
    color: antiquewhite;
    text-indent: 2em;
    font-size: 30px;
    font-weight: 700;
}

.box2 {
    width: 100px;
    height: 100px;
    border: 1px #5352ed solid;
    color: wheat;
    background: #1e90ff;
    padding: 10px;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box3 {
    width: 100px;
    height: 100px;
    border: 1px #5352ed solid;
    color: white;
    background: #7bed9f;
    position: fixed;
    right: 0;
    top: 500px;
}

.box4 {
    width: 100px;
    height: 100px;
    border: 1px #5352ed solid;
    color: white;
    background: #ff7f50;
    position: relative;
    top: 0;
    left: 100px;
}

.container {
    background: #a4b0be;
    border: 1px red solid;
    overflow: hidden;
}

.item {
    width: 100px;
    height: 100px;
    border: 1px #5352ed solid;
    color: white;
    background: #2f3542;
    float: left;
}

.item1  {
    float: right;
}

.s1 {
    display: block;
}

.s2 {
    width: 100px;
    height: 60px;
    background: #ff6348;
}

.s3 {
    display: inline-block;
    width: 100px;
    height: 60px;
    background: #ff6348;
}

@keyframes myfirst
{
    0%   {background: red; left:0px; top:0px;}
    25%  {background: yellow; left:200px; top:0px;}
    50%  {background: blue; left:200px; top:200px;}
    75%  {background: green; left:0px; top:200px;}
    100% {background: red; left:0px; top:0px;}
}

.box5 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px #3742fa solid;
    border-radius: 20%;
    background: #1e90ff;
    background-image: linear-gradient(#e66465, #9198e5);
    /* transform: rotate(60deg); */
    transition: all 1s;
    /* animation: myfirst 5s infinite; */
}

/* img {
    border-radius: 5%;
} */

.box5:hover {
    /* transform: rotateX(180deg); */
    transform: rotateY(180deg);

}

.box6 {
    float: left;
    margin-left: 20px;
}

#container3 {
    position: relative;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    top: 100px;

}

.img-box {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#tab-btn {
    position: relative;
    top: 150px;
    height: 30px;

}
.tab2 {
    width: 70px;
    height: 30px;
    border: 1px red solid;
    background-color: gray;
    color: white;
    position: absolute;
    text-align: center;
}

.tab-left {
    left: -80px;
}

.tab-right {
    right: -100px;
}

#container4 {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    background: #2ecc71;
    margin: 20px;
    transform: rotateY(180deg);
    transition: all 1s;
    opacity: .5;
    color: #2ecc71;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: 500;
}

.card:hover {
    transform: rotateY(0deg);
    opacity: 1;
    color: white;
}